<div class="flex flex-col">
  <div>
    <h1 class="text-3xl dark:text-white">Ciao</h1>
  </div>
  <div class="py-4">
    <img src="/assets/coding.jpeg" class="object-cover rounded-xl h-36 w-full">
  </div>
  <div class="py-4 text-3xl">
    <p>
      Hi there.
    </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p><p>
    Hi there.
  </p>
  </div>
</div>
