body {
  font-family: 'Roboto', sans-serif;
}

.app-layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
}


.trigger:hover {
  color: #1890ff;
  cursor: pointer;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-menu {
  font-size: 33px;
  color: white;
}

.sidebar-logo img {
  height: 32px;
  width: 120px;
}

.sidebar-logo-small {
  padding-left: 27px;
}



nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

nz-content {

  overflow: auto;
}

.inner-content {

  height: 100%;
  overflow: auto;
}

.search-input {
  padding: 10px 24px;
}

.ant-layout-header {
  height: initial;
  line-height: inherit;
}

.right-layout {
  margin-left: 256px;
  transition: all .2s;

}

.right-layout-0 {
  margin-left: 0px;
  transition: all .2s;
}

.ant-layout-sider-children {
  height: 90%;
  border: 4px solid black;
}

:host ::ng-deep .ant-switch {
  background-color: gray;
}

:host ::ng-deep .ant-switch-checked {
  background-color: #085429;
}

.date-sidebar {
  transition: transform 0.2s;
  box-shadow: 0 2px 4px rgba(186, 9, 9, 0.1);
  flex-shrink: 0;
}

[nz-menu-item]:hover .date-sidebar {
  transform: scale(1.05);
}

[nz-menu-item].ant-menu-item-selected .date-sidebar {
  background-color: #39C643 !important;
}

.sidebar-title {
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.3;
}