<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="0"
  >
    <div class="h-full flex flex-col">
      <div class="sidebar-logo">
        <a href="/home" target="_blank" (click)="test()">
          <img
            [src]="
            isCollapsed
              ? 'assets/img/default-no-text.svg'
              : 'assets/img/default-monochrome.svg'
          "
            alt="logo"

          />
        </a>
      </div>
      <ul
        nz-menu
        nzOpen
        nzTheme="dark"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li (click)="test()" nzMatchRouter routerLink="/home" nz-menu-item>
          <i nz-icon nzType="home"></i>
          <span>Home</span>
        </li>
        <li nz-submenu nzOpen nzTitle="Pages" nzIcon="highlight">
          <ul>
            <li nz-menu-item (click)="test()" nzMatchRouter *ngFor="let page of links">
              <a [routerLink]="'blog/'+page.id">{{ page.title }}</a>
            </li>
          </ul>
        </li>


      </ul>

      <div class="mt-auto ml-3">
        <a href="https://twitter.com/aphasia0" target="_blank">
          <i style="padding:10px;font-size: 33px;color: white;" nz-icon nzType="twitter" nzTheme="outline"></i>
        </a>
        <a href="https://www.linkedin.com/in/antonio-giordano-b1673a36/" target="_blank">
          <i style="padding:10px;font-size: 33px;color: white;" nz-icon nzType="linkedin" nzTheme="outline"></i>
        </a>
        <a href="https://github.com/aphasia0" target="_blank">
          <i style="padding:10px;font-size: 33px;color: white;" nz-icon nzType="github" nzTheme="outline"></i>
        </a>
      </div>
    </div>

  </nz-sider>
  <nz-layout [ngClass]="!isCollapsed && !shouldBeClosed()  ? 'right-layout' : 'right-layout-0'">
    <nz-header [ngClass]="!isCollapsed && shouldBeClosed() ? 'right-layout' : 'right-layout-0'">
      <div class=" app-header grid grid-cols-2 md:grid-cols-6 items-center bg-white dark:bg-primary dark:text-white">
        <div class="text-2xl p-3 col-span-2 md:col-span-3 "><i
          (click)="isCollapsed = !isCollapsed"
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></i>
          <span class="mx-5 float-right md:mx-10 md:float-none">
            <nz-switch [ngModel]="false" (ngModelChange)="call($event)" nzCheckedChildren="Dark"
                       nzUnCheckedChildren="Light"></nz-switch>
          </span>
        </div>
        <div class="col-span-4 p-3 md:col-span-3">
          <form #f="ngForm" nz-form (ngSubmit)="search(f)">

            <nz-input-group
              nzSearch
              nzSize="large"
              [nzAddOnAfter]="suffixIconButton"
            >
              <input (focus)="select()"
                     class="search-box"
                     name="search"
                     placeholder="Search"
                     nz-input
                     [(ngModel)]="model"
                     (input)="onInput($event)"
                     [nzAutocomplete]="auto"
              />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSize="large" nzSearch>
                <i nz-icon nzType="search" nzTheme="outline"></i>
              </button>
            </ng-template>
            <nz-autocomplete
              [nzDataSource]="options"
              nzBackfill
              #auto
            ></nz-autocomplete>

          </form>
        </div>
      </div>
    </nz-header>
    <nz-content class="dark:bg-gray-500">
      <div class="inner-content p-6 md:px-24 xl:px-36 bg-white dark:bg-gray-900 dark:text-white">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
