<div class="flex flex-col">
  <app-page-header
    title="Random tech stories"
    subtitle="From a full stack (overflow) developer"
    imageStyle="cover"
    image="assets/img/coding.jpeg"></app-page-header>

  <div class="py-2">
    <p>
      Hi there. I'm <span class="font-bold">Antonio Giordano</span>, a software developer from Italy
      <img class="inline h-7" src="https://img.icons8.com/color/48/000000/italy.png"/>
    </p>
    <p class="py-2">
      Sharing here my personal taught about technologies.
      I use on daily basis Angular, Java and Spring, interested in web 3.0 and Solidity language.
      Having fun right now with flutter, follow my <a class="underline font-extrabold" href="https://twitter.com/search?q=%23100DaysOfCode&src=hashtag_click">#100DaysOfCode</a> challenge on X.
    </p>
    <p class="py-2">
    This site is open source, made with <a class="underline font-extrabold" href="https://angular.io/">Angular</a>, <a class="underline font-extrabold" href="https://ng.ant.design/docs/introduce/en">ng-zorro</a>
    and <a class="underline font-extrabold" href="https://primeng.org/">primeNG</a>
    </p>
    <p class="py-2">
      Here you can find the repository: <a class="underline font-extrabold" href="https://github.com/aphasia0/techbite">https://github.com/aphasia0/techbite</a>
    </p>
  </div>
</div>
