@tailwind base;
@tailwind components;
h1{
  @apply text-3xl dark:text-white font-extrabold mt-2 mb-2
}
h3{
  @apply text-2xl dark:text-white font-light
}
body{
  @apply text-xl dark:text-white font-light
}
p{
  @apply pt-5
}

ul{
  @apply list-disc pt-3 pl-3
}
@tailwind utilities;

:root{
  --p-primary-600: #053017;
  --p-primary-500: #085429;
   
}

*, ::before {
  border-width: medium;
  border-style: revert-layer; 
}

