<div class="flex flex-col">
  <div>
    <h1>Random tech stories</h1>
    <h3 class="dark:text-white font-medium text-gray-500 mt-2 mb-2">From a full stack (overflow) developer</h3>
  </div>
  <div class="py-4">
    <img src="/assets/coding.jpeg" class="object-cover rounded-xl h-64 w-full">
  </div>
  <div class="py-4">
    <p>
      Hi there. This is a tiny old fashioned blog with some information that might be useful for people working in the IT.
    </p>
    <p class="py-2">
      I'm going to share my taught about technologies I use every day such as Angular, Java and Spring.
    </p>
  </div>
</div>
